<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="generator" content="Jekyll">

  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">
  
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" /> {% seo %}
  <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://carlschwan.eu{{ page.url }}" />
  {% if post %}
  <meta property="article:published_time" content="{{ post.date | date_to_xmlschema }}" />
  <meta property="article:author" content="Carl Schwan" />
  <meta property="article:section" content="Technology" />
  {% if post.image %}
  <meta property="og:image" content="https://carlschwan.eu{{ post.image }}" />
  {% endif %}
  {% endif %}
</head>
